<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>TransitNET</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <meta name="theme-color" content="#712cf9">

  
    <!-- Custom styles for this template -->
    <style>
        body {
            margin: 0;
            font-family: sans-serif;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
        }

        nav a:hover {
            background-color: #555;
        }
    </style>
    <link rel="stylesheet" href="../public/css/dashboard.css">

</head>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white" type="submit" >
                    LogOut
            </button>
        </form>Logout
        
    </nav>
    <div class="fixed-action-btn">
        <a href="/posts/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
    </div>
    <div class="container">
        <h6>Dashboard</h6>
        <h4>Welcome <%= name %> </h4>
        <p>Here are your Posts</p>
        <% if (posts && posts.length > 0) { %>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Pricing</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(function(post) { %>
                        <tr>
                            <td><a href="/posts/<% post._id %>"></a></td>
                            <td></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>You have not made any Posts Yet.</p>
        <% } %>

    </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
          M.Sidenav.init(document.querySelector('.sidenav'))
          M.FormSelect.init(document.querySelector('#status'))
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
      crossorigin="anonymous"></script>
</body>
</html>