<h3>WELCOME TO TransitNET</h3>
<h6>Register</h6>

<form action="/register" method="POST" enctype="application/x-www-form-urlencoded">
        <div>
            <input type="text" name="firstName" placeholder="First Name" required>
            <input type="text" name="lastName" placeholder="Last Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="text" name="password" placeholder="password" required>
        </div>
    <button type="submit">Register</button>
</form>